.App {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-flow: column;
  height: 100%;
}

@media(max-width: 100px) {
  .App {
    height: 100%;
  }
}

@media(max-width: 1000px) {
  .App {
    height: 100vh;
  }
}

.App-link {
  color: #61dafb;
}

.background-dark {
  background-size: cover;
  height: 100%;
  background-color: rgb(36, 35, 35);
  color: white;
  transition: 0.3s ease-in-out;
}

.background-light {
  height: 100%;
  background-size: cover;
  background-color: rgb(226, 224, 224);
  transition: 0.3s ease-in-out;
}
